.mainDiv {
   margin: 20px;
}
.imageContainer {
   height: 300px;
   border: 1px solid gainsboro;
   margin: 5px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   background-color: black;
}
.imageContainer img {
   width: 400px;
   height: 298px;
}
.price {
   height: 100px;
   border: 1px solid gainsboro;
   margin: 5px;
   border-radius: 5px;
   padding: 10px;
}
.price .span_3 {
   direction: ltr;
   font-weight: 700;
   margin-bottom: 8px;
   color: #002f34;
   font-size: 34px;
   line-height: 32px;
   font-style: normal;
   font-stretch: normal;
}
.price .span_4 {
   padding-top: 30px;
   font-size: 12px;
   color: rgba(0, 47, 52, 0.64);
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-size: 14px;
   line-height: 20px;
}
.price:hover {
   border: 2px solid black;
}
.SellerDesc {
   height: 150px;
   border: 1px solid black;
   margin: 5px;
   border-radius: 5px;
   padding: 10px;
}
.SellerDesc:hover {
   border: 2px solid black;
}
.SellerDesc span {
   font-size: 24px;
   line-height: 24px;
   font-weight: 700;
   color: #002f34;
   font-weight: 400;
   padding: 0;
}
.details {
   height: auto;
   border: 1px solid gainsboro;
   border-radius: 5px;
   padding: 10px;
}
.details div {
   max-width: 80%;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}
.details .span_1 {
   color: rgba(0, 47, 52, 0.64);
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-size: 16px;
   line-height: 20px;
}
.details .span2 {
   color: #002f34;

   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-size: 14px;
   line-height: 20px;
}
.details:hover {
   border: 2px solid black;
}
.details h3 span,
.description h3 span {
   font-weight: 700;
   font-size: 20px;
   color: #002f34;
}
.description {
   height: auto;
   border: 1px solid gainsboro;
   margin: 5px;
   border-radius: 5px;
   padding: 10px;
}
.description p {
   padding-top: 20px;
}
.description:hover {
   border: 2px solid black;
}
@media (min-width: 600px) {
}
